{{ define "main" }}
<div class="content-container">
    <h1 style="color: {{ .Site.Params.colors.text }}">Blog Posts</h1>

    <div class="disclaimer-box">
        <strong>Disclaimer:</strong> The content of this blog reflects my personal thoughts, words, and grammar. It is not meant to be perfect, but rather a section for my own reflection and expression. These likely will tend to negative and reflective, but that is not who I always am.
    </div>
    
    <div class="blog-list">
        {{ $posts := where .Site.RegularPages "Section" "blog" }}
        {{ $sortedPosts := $posts.ByDate.Reverse }}
        {{ $grouped := dict }}
        
        <!-- Store posts in reverse order within each month -->
        {{ range $sortedPosts }}
            {{ $month := .Date.Format "2006-01" }}
            {{ if not (index $grouped $month) }}
                {{ $grouped = merge $grouped (dict $month (slice .)) }}
            {{ else }}
                {{ $currentEntries := index $grouped $month }}
                {{ $grouped = merge $grouped (dict $month (append (slice .) $currentEntries)) }}
            {{ end }}
        {{ end }}

        {{ $.Scratch.Set "months" (slice) }}
        {{ range $month, $entries := $grouped }}
            {{ $.Scratch.Add "months" (slice $month) }}
        {{ end }}
        
        {{ $sortedMonths := sort ($.Scratch.Get "months") "value" "desc" }}
        
        {{ $monthFormat := .Site.Params.monthFormat }}
        {{ range $sortedMonths }}
            {{ $month := . }}
            {{ $entries := index $grouped $month }}
            <h2>{{ (time (printf "%s-01" $month)).Format $monthFormat }}</h2>
            {{ range $entries }}
            <div class="blog-entry">
                <span class="post-date">{{ .Date.Format .Site.Params.dateFormat }}</span>
                <span class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }} 