{{ define "main" }}

{{ $filename := .File }}
{{ $pattern := `^\d{4}-\d{2}-\d{2}-.+` }}
{{ if not (findRE $pattern $filename.BaseFileName) }}
{{ errorf "ERROR: Blog post filename must follow 'YYYY-MM-DD-title.md' format: %q" $filename.Path }}
{{ else }}

<div class="content-container">
    <article>
        <h1 style="color: {{ .Site.Params.colors.text }}">{{ .Title }}</h1>
        {{ partial "author-bubble.html" . }}
        {{ if .Params.tags }}
        <div class="tags">
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}" class="tag">#{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
        <div class="page-text">
            {{ .Content }}
        </div>
        {{ end }}
    </article>
</div>
{{ end }} 