<div id="linktree-popup" class="linktree-popup">
    <div class="linktree-popup-content">
        <div class="linktree-header">
            <h3>Questions, calendar & more</h3>
            <button class="close-popup">&times;</button>
        </div>
        <div class="linktree-links">
            <a href="{{ .Site.Params.linktreeUrl }}" target="_blank" class="linktree-link">
                <img src="{{ .Site.Params.linktreeLogo }}" alt="Linktree" class="linktree-icon">
                <span class="link-text">
                    <span class="link-title">Linktree</span>
                </span>
            </a>
        </div>
    </div>
</div> 