<div class="author-bubble">
    <div class="bubble-container">
        <div class="author-info">
            <a href="/about">
                <img src="{{ .Site.Params.authorImage | relURL }}" alt="{{ .Site.Title }}" class="author-image">
            </a>
            <div class="post-meta">
                <span>{{ .Site.Params.authorName }} · {{ .Date.Format .Site.Params.dateFormat }} · {{ .WordCount }} words · {{ div .WordCount (default 200 .Site.Params.wordsPerMinute) }}min</span>
                {{ partial "tags.html" . }}
            </div>
        </div>
    </div>
</div> 