<header>
    <nav class="navbar-container">
        <div class="logo-title-container">
            <a href="{{ "/" | relURL }}" class="logo-link">
                <img src="{{ .Site.Params.logo | relURL }}" alt="Logo" class="site-logo">
            </a>
            <a href="{{ "/" | relURL }}" class="navbar-title">{{ .Site.Title }}</a>
        </div>
        <button class="hamburger-menu" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-links">
            {{ range .Site.Params.headerLinks }}
            <a href="{{ .url | relURL }}">{{ .text }}</a>
            {{ end }}
        </div>
    </nav>
</header> 